@use '../abstracts' as *;

.dropdown {
	z-index: 2;
	border: 1px solid $dark-grey;
	position: absolute;
	right: 0;
	top: 100%;
	border: 1px solid $grey;
	border-radius: 0px 0px $border-radius $border-radius;
	background: $white;

	&-title {
		border-bottom: 1px solid $light-grey;
		padding: $space-xs;
	}

	&-item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-bottom: 1px solid $light-grey;
		width: 100%;
		padding: $space-xs;
		padding-right: $space-lg;

		&:hover {
			color: $black;
			opacity: 0.5;
			cursor: pointer;
		}

		.icon {
			margin-right: $space-xs;
			font-size: 0.8rem;
		}
	}
}
