@import "../../assets/scss/index.scss";

.album {
	margin-bottom: 10vh;

	&-header {
		@include flex-space-between;

		h1 {
			font-size: 1.2rem;
			text-transform: uppercase;
		}

		.icon-copy-link {
			font-size: 0.8rem;
			margin-right: $space-xxs;
		}
	}

	&-create-btns {
		@include flex-space-between;
		margin-bottom: $space-lg;
	}
}
