@import "../../../assets/scss/index.scss";

header {
	margin-bottom: $space-lg;
	@include flex-space-between;

	div {
		border-bottom: 1px solid $light-grey;
		width: 100%;
		padding-bottom: $space-xs;
		position: relative;

		&:not(:last-child) {
			margin-right: 0.5rem;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: -0.28rem;
				border-right: 1px solid $light-grey;
				height: 20px;

				@include desktop {
					height: 30px;
				}
			}
		}

		&:last-child {
			text-align: right;
		}
	}

	.logo {
		font-weight: 500;
	}
}
