@import "../../assets/scss/index.scss";

.modal {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: $white;
	padding: $space-unit;

	@include tablet {
		@include absolute-center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0rem $space-lg;
		width: 80vw;
		height: 30vh;
	}

	@include desktop {
		width: 35vw;
		height: 35vh;
	}

	&-overlay {
		@include absolute-center;
		background: $overlay;
	}

	&-header {
		@include flex-space-between;
		margin-bottom: $space-lg;

		& > * {
			border-bottom: 1px solid $light-grey;
			padding-bottom: $space-xs;
			position: relative;
			width: 100%;

			&:not(:last-child) {
				margin-right: 0.5rem;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					top: 0;
					right: -0.28rem;
					border-right: 1px solid $light-grey;
					height: 20px;
				}
			}
			&:last-child {
				text-align: right;
			}
		}
	}
}
