@import "../../assets/scss/index.scss";

.modal {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: $white;
	padding: $space-lg;
	border-radius: $border-radius $border-radius 0px 0px;

	@include tablet {
		@include fixed-center;
		@include flex-center-column;
		align-items: stretch;
		max-width: 600px;
		max-height: 300px;
		border-radius: $border-radius;
	}

	&-header {
		@include flex-space-between;
		@include border-layout;
		margin-bottom: $space-lg;

		&-close {
			cursor: pointer;
		}
	}

	&-overlay {
		background: $overlay;
		@include fixed-center;
		cursor: pointer;
	}
}
