@import "../../../assets/scss/index.scss";

.site-sidebar {
	.active {
		color: $grey;
		border-bottom: 1px solid $light-grey;
	}

	li {
		padding: $space-xs 0rem;
	}

	@include flex-space-around;
	padding-bottom: $space-lg;

	@include tablet {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
}
