@import "../../assets/scss/index.scss";

.masonry-grid {
	img {
		width: 100%;
		height: auto;
	}
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	margin-left: -30px; /* gutter size offset */
	width: auto;
	margin-top: $space-lg;
	margin-bottom: $space-lg;
}
.masonry-grid_column {
	padding-left: 30px; /* gutter size */
	background-clip: padding-box;
}
