@import "./assets/scss/index.scss";

.site-wrapper {
	margin: $space-unit;

	@include tablet {
		display: grid;
		grid-template-areas:
			"header header"
			"nav  main";
		grid-template-columns: 30% 70%;

		header {
			grid-area: header;
			position: fixed;
			top: 0;
			left: $space-unit;
			right: $space-unit;
			background: $white;
			padding-top: $space-xs;
		}

		nav {
			grid-area: nav;
			position: fixed;
			margin-top: $space-xl;
		}

		main {
			grid-area: main;
			margin-top: $space-xl;
			height: 100%;
		}
	}

	@include desktop {
		grid-template-columns: 20% 80%;
	}
}
