@import "../../assets/scss/index.scss";

.album-list {
	&-labels {
		display: flex;
		flex-grow: 1;
		padding: 0rem $space-sm;

		& > * {
			width: 100%;
		}

		p:nth-child(2) {
			text-align: center;
		}
	}

	&-item {
		position: relative;
		display: flex;
		flex-grow: 1;
		border: 1px solid $grey;
		border-radius: $border-radius;
		margin-bottom: $space-unit;
		padding: $space-sm $space-md;
		transition: 0.3s;

		.more-icon-dropdown {
			z-index: 2;
			border: 1px solid $dark-grey;
			position: absolute;
			right: 0;
			top: 100%;
			border: 1px solid $grey;
			padding: $space-sm $space-lg;
			border-radius: 0px 0px $border-radius $border-radius;
			background: $white;
			span {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				&:hover {
					color: $black;
					opacity: 0.5;
					cursor: pointer;
				}

				.icon {
					margin-right: $space-xs;
					font-size: 0.8rem;
				}
			}
		}

		&-title,
		&-created-at,
		&-more-btn {
			cursor: pointer;
			color: $dark-grey;
			width: 100%;

			&:hover {
				color: $black;
				opacity: 0.5;
				cursor: pointer;
			}
		}

		&-title {
			display: flex;
			.icon {
				margin-right: $space-xs;
			}
		}

		&-created-at {
			text-align: center;
		}

		&-more-btn {
			text-align: right;
		}
	}
}
